<div class="text-center min-h-screen flex flex-col items-center justify-center">
  <div class="text-4xl font-bold">Robodash</div>
  <div class="text-xl">Monitor bg jobs and uptime</div>

  <div class="mt-8 px-4">
    <div class="bg-black/75 backdrop-blur-md text-left flex items-center px-3.5 py-2 rounded-xl mb-4">
      <div class="mr-2 text-zinc-400">$</div>
      bundle add robodash
    </div>

    <%= glass_well do %>
      <div class="text-left">
        <div class="text-zinc-400"># Very easy to setup</div>
        <div class="">
          <span class="text-amber-400">Robodash</span><span class="text-zinc-500">.</span><span class="text-blue-400">api_token</span>
          <span class="text-teal-400">=</span>
          <span class="text-green-400">"Your token"</span>
        </div>
        <div class="">
          <span class="text-amber-400">Robodash</span><span class="text-zinc-500">.</span><span class="text-blue-400">ping</span><span class="text-zinc-500">(</span><span class="text-green-400">"A bg job"</span><span class="text-zinc-500">)</span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-8">
    <% if authenticated? %>
      <div class="flex items-center space-x-3">
        <%= glass_link_to "https://github.com/bramjetten/robodash", target: :blank do %>
          Github
          <%= heroicon("arrow-top-right-on-square", style: :mini, class: "size-5 ml-2 text-white/80") %>
        <% end %>

        <% if dashboard = Current.user.dashboards.first %>
          <%= glass_link_to dashboard, glass_style: :primary do %>
            Open dashboard
            <%= heroicon("arrow-right-circle", style: :mini, class: "size-6 ml-2 -mr-1.5 text-white/80") %>
          <% end %>
        <% else %>
          No dashboards available
        <% end %>
      </div>
    <% else %>
      <div class="flex items-center space-x-3">
        <%= glass_link_to "https://github.com/bramjetten/robodash", target: :blank do %>
          Github
          <%= heroicon("arrow-top-right-on-square", style: :mini, class: "size-5 ml-2 text-white/80") %>
        <% end %>

        <%= glass_link_to new_session_path, glass_style: :primary do %>
          Login
          <%= heroicon("arrow-right-end-on-rectangle", style: :mini, class: "size-5 ml-1.5 text-white/80 -mr-0.5") %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

