<% content_for(:title) { "Robodash: #{@dashboard.name}" } %>

<%= turbo_stream_from @dashboard %>

<div class="p-5 md:p-10">
  <div class="flex items-center justify-between mb-8">
    <div class="flex items-center space-x-3">
      <%= glass_button_tag type: :button, popovertarget: "dashboard-switch" do %>
        <%= heroicon("arrows-right-left", style: :mini, class: 'size-6 text-white -mx-2') %>
      <% end %>

      <div class="text-white bg-black/80 rounded-[14px] p-0 w-64 shadow-2xl shadow-black" popover id="dashboard-switch" style="margin: auto">
        <%= glass_well do %>
          <div class="text-sm text-zinc-400 mb-1">Switch dashboard:</div>
          <div class="-mx-3 divide-y divide-zinc-700/50">
            <% Dashboard.all.each do |dashboard| %>
              <%= link_to dashboard, class: "py-1.5 px-3 flex items-center #{dashboard == @dashboard ? 'bg-zinc-900' : 'hover:bg-zinc-800'}" do %>
                <% if dashboard.down? %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 text-[#f10000] drop-shadow-[0_2px_4px_rgba(255,0,0,0.5)] mr-2">
                    <path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
                  </svg>
                <% else %>
                  <div class="size-4 rounded-full bg-zinc-900/10 border border-[1px] border-zinc-700/80 flex items-center justify-center mr-2">
                    <div class="size-2.5 rounded-full bg-[#4CFF00] drop-shadow-[0_0_8px_#44EF00] opacity-80"></div>

                    <div class="opacity-50 absolute">
                      <% delay = %w[150ms 500ms 700ms].sample %>
                      <div class="size-2.5 rounded-full bg-[#4CFF00] drop-shadow-[0_0_3px_#44EF00] animate-pulse" style="animation-delay: <%= delay %>"></div>
                    </div>
                  </div>
                <% end %>

                <%= dashboard.name %>
              <% end %>
            <% end %>

            <%= link_to '#', class: "hover:bg-zinc-800 text-zinc-500 flex items-center py-1.5 px-3 -mb-2 rounded-b-[14px]" do %>
              <%= heroicon("plus", style: :micro, class: 'size-4 mr-2 text-zinc-500 ml-0.25 -mr-0.25') %>
              New dashboard
            <% end %>
          </div>
        <% end %>
      </div>

      <h1 class="text-3xl font-bold flex items-center">
        <%= @dashboard.name %>

        <% if issue_count > 0 %>
          <div class="flex items-center text-base text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 ml-4 mr-2 text-[#f10000] drop-shadow-[0_2px_4px_rgba(255,0,0,0.5)]">
              <path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
            </svg>
            <%=t "issues", count: issue_count %>
          </div>
        <% end %>

        <% if warning_count > 0 %>
          <div class="flex items-center text-base text-amber-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 ml-4 mr-2 text-amber-500 drop-shadow-[0_2px_4px_rgba(255,137,0,0.5)]">
              <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
            </svg>

            <%=t "warnings", count: warning_count %>
          </div>
        <% end %>
      </h1>
    </div>

    <div class="flex items-center space-x-4">
      <%= glass_link_to '/' do %>
        <%= heroicon("cog-8-tooth", style: :mini, class: 'size-6 text-white -mx-2') %>
      <% end %>
      <%= glass_link_to session_path, data: {turbo_method: :delete} do %>
        <%= heroicon("power", style: :mini, class: 'size-6 text-white -mx-2') %>
      <% end %>
    </div>
  </div>

  <%= glass_well do %>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 items-start">
      <%= render @dashboard.widgets.order(:name) %>
    </div>
  <% end %>
</div>

