<div class="-mt-1">
  <div class="font-black text-2xl <%= counter.down? ? 'text-red-500' : 'text-white' %>">
    <%= number_with_delimiter counter.count %>
  </div>

  <% if counter.min.present? || counter.max.present? %>
    <div class="text-xs text-zinc-400 -mt-1">
      <% if counter.min.to_i == 0 %>
        <div class="flex items-center space-x-1">
          max <%= counter.max %>
        </div>
      <% elsif counter.max.to_i == 0 %>
        <div class="">
          min <%= counter.min %>
        </div>
      <% else %>
        <%= counter.min %> - <%= counter.max %>
      <% end %>
    </div>
  <% end %>
</div>
