<div class="flex items-start space-x-1.5 pt-1">
  <div class="font-black text-2xl <%= 'text-red-500' if counter.down? %>">
    <%= counter.count %>
  </div>
  <div class="text-xs text-zinc-400 pt-[2px]">
    <% if counter.min == 0 %>
      <div class="flex items-center space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M11.78 4.22a.75.75 0 0 1 0 1.06L6.56 10.5h3.69a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1-.75-.75v-5.5a.75.75 0 0 1 1.5 0v3.69l5.22-5.22a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
        </svg>

        <%= counter.max %>
      </div>
    <% elsif counter.max == 0 %>
      <div class="flex items-center space-x-1">
        <%= counter.min %>+
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0Z" clip-rule="evenodd" />
        </svg>
      </div>
    <% else %>
      <%= counter.min %> - <%= counter.max %>
    <% end %>
  </div>
</div>
