<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Robodash" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>
  </head>

  <body class="bg-black text-white font-mono bg-cover bg-center min-h-screen selection:bg-zinc-900 selection:text-white" style="background-image: url('<%= image_url("wallpapers/#{current_wallpaper}.webp") %>')">
    <%= yield %>

    <!-- Modals are rendered at the bottom -->
    <%= turbo_frame_tag :modal %>
  </body>
</html>
